<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <link rel="shortcut icon" href="../images/favicon.ico">
    <title><%= current_page.data.title || "Middleman" %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400|Playfair+Display:400i" rel="stylesheet">
    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "site" %>
  </head>
  <body>
    <div class="navbar">
      <div class="container">
        <div class="navbar-brand">
        <a href="/">Kirsty & Tom</a>
        </div>
        <div class="navbar-links">
          <a href="/weekend.html">The Weekend</a>
          <a href="/accomodation">Accomodation</a>
          <a href="/travel">Travel</a>
          <a href="/gift">Gift List</a>
          <a href="/additional">Additional Info</a>
        </div>
      </div>
    </div>
    <div class="main-container">
      <%= yield %>
    </div>
    <div class="footer">
      <div class="footer-copyright">
        Made with <i class="fa fa-heart"></i> by Kirsty and Tom
      </div>
    </div>
  </body>
</html>
